body {
  background-color: #1e1e1e;
}

.game-area {
  position: relative;
  width: 501px;
  height: 501px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 0px auto 50px auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #abbfc0;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .game-area {
    position: relative;
    width: 350px;
    height: 300px;
  }

  .snake {
    width: 23px;
    height: 23px;
  }
}

.snake {
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: #dc042c;
  border: 1px solid white;
  z-index: 2;
  box-shadow: #dc042c 0px 0px 25px;
}

.food {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  z-index: 1;
  box-shadow: white 0px 0px 25px;
}